html {
    box-sizing: border-box;
}

*, *:before, *:after {box-sizing: inherit;}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

/* height and width is 6.25% because it is the result of 100/16 */
.square {
    width: 6.25%;
    height: 6.25%;
    border: 1px solid red;
}